.hidden {
    display: none;
}

.hangman-game-img {
    display: block;
    margin: auto;
    height: 500px;
}

.hangman-options-image {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.choice {
    border: 1px solid black;
}

.choice-button {
    display: block;
}

.buttons {
    width: 200px;
    margin-top: 2em;
}

.nav {
    border: 1px solid black;
    width: 500px;
    height: 600px;
    padding: 4em 3em;
}

.instructions-area {
    border: 1px solid black;
    width: 500px;
    padding: 4em 3em;
}

.instructions-button {
    display: block;
}

.menu-item {
    font-size: 2.5rem;
    list-style: none;
    margin: 1.5em 0;
}

.start-header {
    font-size: 3.5rem;
    margin: .5em 0 1em 0; 
}

ul {
    padding: 0;
}